@charset "utf-8";

//TODO
@mixin inline() {
    float: left;
}

@mixin countImg($img) {
    width: width($img+".png");
    height: height($img+".png");
}
@mixin btn($img) {
    width: width($img+".png");
    height: height($img+".png");
    background: url("../images/"+$img+".png") no-repeat;
}
